{% extends "shopapp/base.html" %}

{%block title%}
    <title> {{Customers}} </title>
{%endblock%}

{%block body%}
    <h1> {{name_block}}</h1>
    <div>
       <ul>
            {% for i_person in customers_orm_obj reversed %}

                <li>
                    {{ forloop.counter }}          
                    {{ i_person.name|capfirst}}     
                    {%if i_person.age == 31%}
                       <m>{{ i_person.age }}</m>
                    {%endif%}
                    <b> {{ i_person.order }} </b>
                </li>

            {% endfor %}
        </ul>
    </div>
{%endblock%}