{% extends "shopapp/base.html" %}

{% block title %}
    <div>
        <h1>Products list:</h1>
    </div>
{% endblock %}

{% block body %}
    <h1>Products:</h1>
    <div>
        <ul>
            {% if products %}
                {% for product in products %}
                    <div>
                        <p>Name: {{ product.name }}</p>
                        <p>Price: {{ product.price }}</p>
                        <p>Discount: {% firstof product.discount  "no discount" %}</p>
                    </div>
                {% endfor %}
            {% else %}
                <div>List is empty!</div>
            {% endif %}
        </ul>
    </div>
{% endblock %}